body{
  background-color: black;
}

.main {
  max-width: 1024px;
  width: 1024px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-height: 1440px;
  height: 1440px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .main {
    min-height: 1000px;
  }
}
.main .main__infomation {
  width: 30%;
  background-color: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
  padding-left: 2%;
}
@media screen and (max-width: 900px) {
  .main .main__infomation {
    padding-left: 5px;
    width: 40%;
  }
}
.main .main__infomation .main__infomation--item {
  width: 100%;
}
.main .main__infomation .main__infomation--item .item__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200;
  
}

.main .main__infomation .main__infomation--item .item__logo img {
  width: 200px;
  height: 200px; 
  object-fit: cover;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 3px rgb(48, 47, 47);
  border-radius: 100%;
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__logo img{
    width: 100px;
    height: 100px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--title {
  position: relative;
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--title p {
  font-size: 18px;
  padding: 5px 0px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--title p {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--title p {
    font-size: 14px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--title span {
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(161, 149, 149);
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--title span {
    height: 1px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--main {
  padding: 10px 20px 20px 0px;
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main {
    padding: 0px 0px 0px 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__phone p {
  padding: 5px 0px;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__phone p {
    font-size: 12px;
    padding: 0px 0px 10px 0px;
  }
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__phone p {
    font-size: 14px;
    padding: 0px 0px 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__email p {
  line-height: 20px;
  padding: 5px 0px;
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__email p {
    font-size: 14px;
    padding: 0px 0px 10px 0px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__email p {
    font-size: 12px;
    padding: 0px 0px 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__address p {
  padding: 5px 0px;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__address p {
    font-size: 14px;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__contact .item__contact--main .main__address p {
    font-size: 12px;
    padding: 0px 0px 0px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--title {
  position: relative;
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--title p {
  font-size: 18px;
  padding: 5px 0px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--title p {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--title p {
    font-size: 14px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--title span {
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(161, 149, 149);
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--title span {
    height: 1px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main {
  padding: 20px 20px 30px 0px;
  position: relative;
  margin-top: -30px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main {
    padding: 20px 0px 20px 0px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main {
    margin-top: -10px;
    padding: 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--title p {
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--title p {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--title p {
    font-size: 12px;
    padding: 10px 0px 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--main p {
  padding: 5px 20px;
  font-size: 14px;
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--main span {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: rgb(161, 149, 149);
  border: 2px solid rgb(80, 87, 91);
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--main span::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: 8px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--main span {
    height: 3px;
    top: 35px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__web .main__web--main span::after {
    height: 1px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--title p {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 18px;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--title p {
    font-size: 14px;  
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--title p {
    font-size: 12px;
    padding: 10px 0px 10px 0px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--main p {
  padding: 5px 20px;
  font-size: 15px;
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--main span {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: rgb(161, 149, 149);
  border: 2px solid rgb(80, 87, 91);;
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--main span::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: 8px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--main span {
    height: 3px;
    left: 0px;
    top: 66px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__ai .main__ai--main span::after {
    height: 1px;
  }
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--title p {
  padding-top: 30px;
  /* padding-left: 10px; */
  padding-bottom: 5px;
  font-size: 18px;
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--main span {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: rgb(161, 149, 149);
  border: 2px solid rgb(80, 87, 91);
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(3) .main__game--main span::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  height: 8px;
  background-color: rgb(255, 255, 255);
}
.main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(4) .main__game--main span::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: 8px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(3) .main__game--title p {
    font-size: 14px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(4) .main__game--title p {
    font-size: 14px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--title p {
    padding-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(3) .main__game--title p {
    font-size: 12px;
    padding-top: 10px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(4) .main__game--title p {
    font-size: 12px;
    padding-top: 15px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--title p {
    padding-top: 0px;
  }
  /* .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--title p {
    font-size: 12px;
    padding-top: 10px;
  } */
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(3) .main__game--main span {
    height: 3px;
    left: 0px;
    top: 98px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(3) .main__game--main span::after {
    height:1px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(4) .main__game--main span {
    height: 3px;
    left: 0px;
    top: 130px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game:nth-child(4) .main__game--main span::after {
    height:1px;
  }
}
/* .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--main p {
  padding: 5px 20px;
  font-size: 15px;
} */
/* @media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--main span {
    height: 3px;
  }
  .main .main__infomation .main__infomation--item .item__skill .item__skill--main .main__game .main__game--main span::after {
    height: 1px;
  }
} */
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--title {
  position: relative;
  margin-top: 10px;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--title p {
  padding: 5px 0px;
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--title p {
    font-size: 14px;
  }
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--title span {
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(161, 149, 149);
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--title span {
    height: 1px;
  }
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main {
  padding: 30px 0px;
  position: relative;
  margin-top: -20px;
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main {
    padding: 0px 0px 0px 0px;
    margin-top: -0px;
  }
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 20px;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main p:nth-child(1) {
  padding-top: 0px;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: rgb(161, 149, 149);
  border: 2px solid rgb(80, 87, 91);;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 8px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(2):after {
  width: 80%;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(6):after {
  width: 80%;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(8):after {
  width: 90%;
}
.main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(10):after {
  width: 60%;
}
@media screen and (max-width: 1440px) {
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main p {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main p {
    font-size: 12px;
    padding: 0px 0px 0px 0px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span {
    height: 3px;
    left: 0px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(2) {
    top: 15px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(4) {
    top: 35px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(6) {
    top: 55px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(8) {
    top: 75px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span:nth-child(10) {
    top: 95px;
  }
  .main .main__infomation .main__infomation--item .item__langguage .item__langguage--main span::after {
    height: 1px;
  }
}
.main .main__deriptions {
  width: 70%;
  background-color: rgb(161, 149, 149);
  padding: 0px 20px;
  height: auto;
  position: relative;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions {
    width: 60%;
    padding: 0px 0px 0px 5px;
  }
}
.main .main__deriptions .main__deriptions--title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.main .main__deriptions .main__deriptions--title span{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 40px;
}
.main .main__deriptions .main__deriptions--title p {
  padding-top: 40px;
  padding-bottom: 0px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--title p {
    font-size: 20px;
    padding: 30px 0px 0px 0px;
  }
  .main .main__deriptions .main__deriptions--title span {
    font-size: 14px;
    padding: 30px 0px 20px 0px;
  }
}
.main .main__deriptions .main__deriptions--location .location__title {
  position: relative;
}
.main .main__deriptions .main__deriptions--location .location__title p {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
}
.main .main__deriptions .main__deriptions--location .location__title p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(34, 33, 33);
  bottom: 5px;
  left: 0px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--location .location__title p {
    font-size: 14px;
    padding-top: 10px;
  }
  .main .main__deriptions .main__deriptions--location .location__title p::after {
    bottom: 14px;
    height: 1px;
  }
}
.main .main__deriptions .main__deriptions--location .location__item p {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 0px 5px 0px;
  line-height: 20px;
}
.main .main__deriptions .main__deriptions--location .location__item span {
  font-size: 16px;
  font-weight: lighter;
  padding: 0px 0px 0px 10px;
}
.main .main__deriptions .main__deriptions--location:nth-child(6) .location__item span {
  font-weight: lighter;
  padding-bottom: 20px;
  display: block;
}
.main .main__deriptions .main__deriptions--location:nth-child(4) .location__item span {
  font-weight: lighter;
  padding-bottom: 20px;
  line-height: 20px;
}
.main .main__deriptions .main__deriptions--location:nth-child(5) .location__item span {
  font-weight: lighter;
  padding-bottom: 20px;
  display: block;
}
.main .main__deriptions .main__deriptions--location:nth-child(7) .location__item span {
  font-weight: lighter;
  padding-bottom: 20px;
  display: block;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--location:nth-child(6) .location__item span {
    font-weight: lighter;
    padding-bottom: 10px;
    display: block;
  }
  .main .main__deriptions .main__deriptions--location:nth-child(7) .location__item span {
    font-weight: lighter;
    padding-bottom: 10px;
    display: block;
  }
  
}
.main .main__deriptions .main__deriptions--desription p:nth-child(1) {
  font-size: 20px;
  padding: 20px 0px;
  font-weight: bold;
  position: relative;
}
.main .main__deriptions .main__deriptions--desription .desription__title p:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(34, 33, 33);
  bottom: 5px;
  left: 0px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--desription .desription__title p:nth-child(1)::after {
    bottom: 5px;
    height: 1px;
  }
  
  .main .main__deriptions .main__deriptions--location .location__item span {
    font-size: 12px;
  }
  .main .main__deriptions .main__deriptions--location:nth-child(5) .location__item span {
    padding-bottom: 10px;
  }
  .main .main__deriptions .main__deriptions--location .location__item p {
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--desription .desription__title p:nth-child(1) {
    font-size: 14px;
    padding: 10px 0px;
  }
}
.main .main__deriptions .main__deriptions--desription  .desription__item p {
  font-size: 18px;
  padding: 10px 20px;
  font-weight: lighter;
  /* display: none; */
}
/* .main .main__deriptions .main__deriptions--desription  .desription__item p:nth-child(1) {
  display: none;
} */
@media screen and (max-width: 900px) {
  /* .main .main__deriptions .main__deriptions--desription .desription__item {
      max-height: 100px;
      overflow-y: scroll;
  } */
  .main .main__deriptions .main__deriptions--desription .desription__item p {
    font-size: 10px;
    padding: 5px 0px 0px 10px;
  }
  /* .main .main__deriptions .main__deriptions--desription .desription__item p:nth-child(1) {
    display: none;
  } */
  .main .main__deriptions .main__deriptions--desription .desription__item p:nth-child(2) {
    display: none;
  }
 
}

.main .main__deriptions .main__deriptions--exp .exp__title {
  font-size: 20px;
  position: relative;
}
.main .main__deriptions .main__deriptions--exp .exp__title p {
  padding: 20px 0px;
  font-weight: bold;
}
.main .main__deriptions .main__deriptions--exp .exp__title p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(34, 33, 33);
  bottom: 5px;
  left: 0px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__title p::after {
    bottom: 5px;
    height: 1px;
  }
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__title p {
    font-size: 14px;
    padding: 10px 0px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__title {
  position: relative;
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__title p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__title p {
    font-size: 10px;
    padding: 5px 0px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 30px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item {
    padding: 0px 0px 0px 10px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__name {
  width: 100%;
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__name span {
  font-size: 16px;
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__name span:nth-child(1) {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__name span {
    font-size: 10px;
    padding: 0px 0px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__deription {
  padding: 5px 20px;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__deription {
    padding: 0px 0px 0px 10px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__deription span {
  font-size: 18px;
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__deription span:nth-child(1) {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__deription span {
    font-size: 10px;
    padding: 0px 0px;
  }
}
.main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__link p {
  display: block;
  padding: 5px 20px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .main .main__deriptions .main__deriptions--exp .exp__main .exp__main--item .item__main .item__main--item .item__link p {
    font-size: 10px;
    padding: 5px 0px 10px 10px;
  }
}
.main .main__podup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  max-width: 100%;
  background-color: rgb(161, 149, 149);
  z-index: -1;
}
.main .main__podup .main__podup--item{
  display: none;
}
.main .main__podup .main__podup--btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--btn {
    width: 20px;
    height: 20px;
  }
}
.main .main__podup .main__podup--btn span {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 3px;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--btn span {
    height: 2px;
  }
}
.main .main__podup .main__podup--btn span:nth-child(1) {
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.main .main__podup .main__podup--btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  left: 0px;
}
.main .main__podup .main__podup--item {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  top: 100px;
  padding-right: 10px;
  background-color: rgb(161, 149, 149);
  border: solid 2px rgb(34, 33, 33);
  box-shadow: 1px 1px 3px 3px rgb(85, 85, 85);
  padding-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--item {
    top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
  }
}
.main .main__podup .main__podup--item .item__title p{
  text-align: center;
}
.main .main__podup .main__podup--item .item__title p {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 18px;
  padding-left: 20px;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--item .item__title p {
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
.main .main__podup .main__podup--item .item__deription .item__deription--main p {
  font-size: 14px;
  padding-left: 40px;
}

.main .main__podup .main__podup--item .item__deription .item__deription--main a {
  font-size: 14px;
  padding-left: 40px;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--item .item__deription .item__deription--main p {
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .main .main__podup .main__podup--item .item__deription .item__deription--main a {
    font-size: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
  }
}
.main .main__podup .main__podup--item .item__deription .item__deription--title p {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 16px;
  padding-left: 20px;
}
@media screen and (max-width: 900px) {
  .main .main__podup .main__podup--item .item__deription .item__deription--title p {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
